.quest-card {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background: var(--white);
    border: var(--border-std);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-std);
  }
  
 /* input */
  .quest-checkbox[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: var(--border-std);
    border-radius: 0.5rem;
  }

  .quest-checkbox[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: scale(0);
    background-color: var(--blue);
    transition: .15s ease-in-out;
  }

  .quest-checkbox[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .quest-checkbox[type="checkbox"]:hover {
    color: black;
  }
  
  /* card content */
  .quest-content {
    flex: 1;
  }
  
  .quest-meta {
    display: flex;
    gap: 8px;

    span {
      font-size: .75rem;
      font-weight: 600;
    }
  }
  
  .priority,
  .category {
    font-size: 12px;
    font-weight: 700;
  }
  
  .quest-card h3 {
    font-family: var(--font-body);
    font-size: 1rem;
  }
  
  .quest-card time {
    color: #737783;
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: right;
  }