@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

html {
  --black: #18181B;
  --grey: #6B7280;
  --pure-white: #FFFFFF;
  --white: #FCFAF6;
  --light-grey: #E4E4E7;
  --cool-white: #EFF6FF;

  --white-transparent: #FCFAF601;

  --orange: #FF5A36;
  --green: #059669;
  --blue: #3B82F6;
  --pale-yellow: #FEF3C7;
  --pale-green: #ECFDF5;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --border-std: 2px solid var(--black);
  --shadow-std: 3px 3px 0px rgba(0, 0, 0, 1);
  --shadow-sm: 1px 1px 0px rgba(0, 0, 0, 1);
  --radius-std: 100px;
  --radius-sm: 8px;
  --radius-md: 16px;

  --font-body: "manrope", sans-serif;
  --font-heading: "unbounded", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "manrope", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "unbounded", sans-serif;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: .95rem;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin: 0 auto;
  padding: var(--spacing-md);
  padding-bottom: 14rem;
  width: 100%;  
  max-width: 550px;
}


/* GENERAL */
button {
  font-size: 0.9rem;
  font-weight: bold;
  border: var(--border-std);
  border-radius: var(--border-std);
  background-color: var(--white);
  color: var(--black);
  padding: var(--spacing-sm) var(--spacing-md);

  border-radius: var(--radius-std);
  transition: .2s ease-in-out;

  &:hover {
    background-color: var(--light-grey);
    box-shadow: var(--shadow-std);
    translate: 0 -2px;
  }

  &:active {
      box-shadow: var(--shadow-sm);
      translate: 0 2px;
  }
}


/* components */
/* HEADER */
header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  & .header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .meta-actions {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }

  .streak-badge {
    display: flex;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--pale-yellow);
    border: var(--border-std);
    border-radius: var(--radius-std);
    box-shadow: var(--shadow-std);
  }

  .avatar {
    background-color: var(--pure-white);
    border: 1px solid var(--blue);
    border-radius: var(--radius-std);
  }

  /* bottom row of header */
  & .date-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .date-info {
      color: var(--grey);
    }

    .task-info {
      color: var(--orange);
    }
  }


}




/* FOCUS */
*:focus-visible {
  outline: 4px solid var(--orange);
  outline-offset: 2px;
}